#map {
    height: 400px;
    width: 400px;
    border-radius: 1em;
    border-color: black;
    border-style: solid;
}

.allFiles {
    p {
        background-color: rgb(125, 158, 219);
        width: 25%;
        text-align: center;
        border-radius: 0.5em;
    }
}